{% extends 'mainindex.html' %}

{% block banner %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="text-center mt-3">
                    <h4>Lifeline Information</h4>
                    <p>
                        The following lifelines are available in the quiz:
                    </p>
                    <ul style="list-style:none;">
                        <li><strong>Phone a Friend:</strong> Use this lifeline to get help from a friend.</li>
                        <li><strong>50:50:</strong> Eliminate two incorrect options, leaving you with a better chance of selecting the correct answer.</li>
                        <!-- Add other lifeline information as needed -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
